
@{
    ViewData["Title"] = "About";
}

<h2>About Me</h2>

<p>I currently live in Shakopee, Minnesota</p>
<p>My goal is to complete the RAAM Challenge Double Century</p>
<p>Another goal is to ride in the Inca Divide Bike Race in Peru</p>
