
@{
    ViewData["Title"] = "About";
}

<h2>About Me</h2>

<p>I live and bike in the southwest suburbs on Minneapolis</p>
<p>My goals are:</p>
<ul>
    <li><a href="http://www.raamchallenge.com/">TX RAAM Challenge</a> - 200 Miles - March 28, 2020</li>
    <li><a href="https://www.almanzo.com/">Almanzo Bike Ride</a> - 100 Miles - May 2, 2020</li>
    <li><a href="https://www.facebook.com/events/227053444848919/">650 B Race</a> - 650 Miles - June 19, 2020</li>
    <li><a href="https://the-damn.com/">DaMN Ride</a> - 240 Miles - August 3, 2020</li>
    <li><a href="https://hoodoo500.com/">HooDoo 500</a> - 300 or 500 Miles - August 23, 2020</li>
    <li><a href="https://bikingman.com/en/incadivide-2019-en/">Inca Divide</a> - 1100 Miles - August 14, 2020</li>
</ul>
<p>Some dates are approximate as they haven't been selected yet</p>

<p>I also want to up my mountain biking game in 2020, some goals are:</p>
<ul>
    <li>Complete Lebanon Loop</li>
    <li>Complete Murphy-Hanrehan Loop</li>
    <li>Complete Elm Creek Loop</li>
    <li>Learn how to jump</li>
    <li>Complete a drop</li>
    <li>Bike at Spirit Mountain / Duluth area</li>
    <li>Bike at Cuyuna</li>
    <li>Possible Trestle/Whistler Trip?</li>
</ul>
<p>Nothing too fancy, just want to do more mountain biking</p>