
@{
    ViewData["Title"] = "Blog";
}

<h2>Blog/Ride Log</h2>


<h4>How am I doing?</h4>
<iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/1815338/activity-summary/c713ca7ea1c4376c1333f9a6869aceaba9e413c8'></iframe>
<br />
<iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/1815338/latest-rides/c713ca7ea1c4376c1333f9a6869aceaba9e413c8'></iframe>

