@{
    ViewData["Title"] = "Stender Biking";
}

<h1 class="text-center">Welcome to the home of Stender Biking</h1>

<p>Here you find information on my training plan, various cycling routes, and my riding log</p>

