
@{
    ViewData["Title"] = "Routes";
}

<h2>Routes</h2>

<h3>5-10 Miles</h3>
<p>Shakopee Loop</p>

<h3>10-20 Miles</h3>
<p>Chaska Loop</p>
<p>Bloomington Ferry Out and Back</p>
<p>Chaska River Loop - Currently Flooded</p>

<h3>20-30 Miles</h3>
<p>Prior Lake Loop</p>
<p>Carver Park Lollipop</p>

<h3>30-50 Miles</h3>
<p>Victora to Hopkins Out and Back</p>
<p>Pioneer Trail Loop - Bloomington Ferry could be flooded</p>
<p>Hopkins-Minneapolis-Minnehaha Loop</p>

<h3>50-100 Miles</h3>
<p>Stillwater One Way</p>
<p>Hopkins-St. Paul - Minnehaha Loop</p>

<h3>100+ Miles</h3>
<p>Stillwater Out and Back</p>