
@{
    ViewData["Title"] = "Routes";
}

<h2>Routes</h2>

<h3>5-10 Miles</h3>
<a asp-area="" asp-controller="Routes" asp-action="ShakopeeLoop">Shakopee Loop - 9.5 Miles</a>

<h3>10-20 Miles</h3>
<p>Chaska Loop - 16 Miles</p>
<p>Southbridge/Dean Lakes Loop - 14.5 Miles</p>
<p>Bloomington Ferry Out and Back - 14 Miles</p>
<p>Chaska River Loop - Currently Flooded - 10.5 Miles</p>
<p>Elm Creek Loop - 15 Miles</p>

<h3>20-30 Miles</h3>
<p>Prior Lake Loop - 25 Miles</p>
<p>Carver Park Lollipop - 32 Miles</p>
<p>Pioneer Trail Loop - Bloomington Ferry could be flooded - 27.5 Miles (Alternate 25 Miles)</p>

<h3>30-50 Miles</h3>

<a asp-area="" asp-controller="Routes" asp-action="MinnetonkaTrail">Lake Minnetonka Trail Out and Back - 33 Miles</a>
<p>Hopkins-St. Paul - Minnehaha Loop - 46 Miles</p>
<p>Hopkins - Minnehaha Loop - 32 Miles (Alternate 25 Miles)</p>

<h3>50-100 Miles</h3>
<p>Stillwater One Way - 55 Miles</p>


<h3>100+ Miles</h3>
<p>Stillwater Out and Back - 110 Miles</p>