
@{
    ViewData["Title"] = "Routes";
}

<h2>Routes</h2>

<h3>5-10 Miles</h3>
<a asp-area="" asp-controller="Routes" asp-action="ShakopeeLoop">Shakopee Loop - 9.5 Miles</a>

<h3>10-20 Miles</h3>
<a asp-area="" asp-controller="Routes" asp-action="ChaskaLoop">Chaska Loop - 16 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="SouthbridgeLoop">Southbridge Loop - 14.5 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="ChaskaRiverLoop">Chaska River Loop - 10.5 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="ElmCreekLoop">Elm Creek Loop - 15 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="BloomingtonFerry">Bloomington Ferry Out and Back - 14 Miles</a><br />


<h3>20-30 Miles</h3>
<a asp-area="" asp-controller="Routes" asp-action="PriorLakeLoop">Prior Lake Loop - 25 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="CarverLakeLollipop">Carver Park Lollipop - 32 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="PioneerLoop">Pioneer Trail Loop - 27.5 Miles (25 Mile Alternate)</a><br />



<h3>30-50 Miles</h3>
<a asp-area="" asp-controller="Routes" asp-action="MinnetonkaTrail">Lake Minnetonka Trail Out and Back - 33 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="HopkinsStPaulLoop">Hopkins/St. Paul Loop - 46 Miles</a><br />
<a asp-area="" asp-controller="Routes" asp-action="MinnehahaLoop">Minnehaha Loop - 32 Miles (25 Mile Alternate)</a><br />

<h3>50-100 Miles</h3>
<a asp-area="" asp-controller="Routes" asp-action="Stillwater">Stillwater - 55 Miles</a><br />


<h3>100+ Miles</h3>
<a asp-area="" asp-controller="Routes" asp-action="Stillwater">Stillwater Out and Back - 110 Miles</a><br />