
@{
    ViewData["Title"] = "BloomingtonFerry";
}

<h2>Bloomington Ferry Out and Back - 14 Miles</h2>

<img src="~/images/Routes/Bloomington Ferry Out and Back.JPG" />
@{
    Html.RenderPartial("BreakArea");
}
<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Pass by Valleyfair</li>
    <li>Bloomington Ferry - don't need to cross so no worries about flooding</li>
    <li>Straight and flat</li>
    <li>Add a trip over to Southbridge to add mileage, or cross over the river</li>
</ul>
