
@{
    ViewData["Title"] = "CarverLakeLollipop";
}

<h2>Carver Lake Lollipop - 32 Miles</h2>

<img src="~/images/Routes/Carver Lollipop.JPG" />

<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Carver Park</li>
    <li>Can stop in Victoria</li>
    <li>Climb out of the river valley</li>
</ul>