
@{
    ViewData["Title"] = "ChaskaLoop";
}


<h2>Chaska Loop - 16 Miles</h2>

<img src="~/images/Routes/Chaska Loop.JPG" />
@{
    Html.RenderPartial("BreakArea");
}
<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Chaska Trails are amazing</li>
    <li>Nicely wooded/shaded for middle part of ride</li>
    <li>Nice downhill to leave Chaska</li>
</ul>