
@{
    ViewData["Title"] = "ChaskaRiverLoop";
}

<h2>Chaska River Loop - 10.5 Miles</h2>

<img src="~/images/Routes/Chaska River Loop.JPG" />
<partial name="BreakArea" />
<strong>Can be flooded and not rideable, check conditions before riding</strong>
<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Nice ride along the river</li>
    <li>No road riding required</li>
    <li>Can be flooded for a good part of the summer, check conditions</li>
</ul>