
@{
    ViewData["Title"] = "ElmCreekLoop";
}

<h2>Elm Creek Loop - 15 Miles</h2>

<img src="~/images/Routes/Elm Creek Loop.JPG" />
@{
    Html.RenderPartial("BreakArea");
}
<ul>
    <li>Start: Elm Creek Trailhead</li>
    <li>End: Elm Creek Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Great park to ride around</li>
    <li>Several options to add mileage in small loops</li>
    <li>Can add a ride over to the dam</li>
    <li>All trail riding</li>
</ul>