
@{
    ViewData["Title"] = "HopkinsStPaulLoop";
}

<h2>Hopkins / Minneapolis / St. Paul Loop - 46 Miles</h2>

<img src="~/images/Routes/Mpls St Paul Loop.JPG" />

<ul>
    <li>Start: Hopkins Depot</li>
    <li>End: Hopkins Depot</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Ride through Minneapolis, the U of MN, and St. Paul</li>
    <li>See the Capitol</li>
    <li>Ride along the river</li>
    <li>Fort Snelling</li>
    <li>Minnehaha Falls</li>
    <li>The Lakes</li>
</ul>