
@{
    ViewData["Title"] = "MinnehahaLoop";
}

<h2>Minneapolis/Minnehaha Loop - 32 Miles (25 Miles for Alternate)</h2>


<img src="~/images/Routes/Mpls Minnehaha Loop.JPG" />
<partial name="BreakArea" />
<ul>
    <li>Start: Hopkins Depot</li>
    <li>End: Hopkins Depot</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Ride through Minneapolis</li>
    <li>Ride along the Mississippi River</li>
    <li>Minnehaha Falls</li>
    <li>The Lakes</li>
    <li>Can skip Minnehaha and take the Greenway to save mileage</li>
</ul>