
@{
    ViewData["Title"] = "MinnetonkaTrail";
}

<h2>Lake Minnetonka Trail Out and Back - 33 Miles</h2>

<img src="~/images/MinnetonkaTrail.JPG" />

<ul>
    <li>Start: Victoria</li>
    <li>End: Victoria</li>
</ul>

<h4>Features</h4>
<ul>
    <li>One of my favorite trails in the area</li>
    <li>Mostly Shaded</li>
    <li>Lake Minnetonka Views</li>
    <li>Victoria and Hopkins are great start/middle/end points</li>
    <li>Very flat</li>
    <li>Can connect to Cedar Lake Trails to add mileage</li>
</ul>

