
@{
    ViewData["Title"] = "PioneerLoop";
}

<h2>Pioneer Trail Loop - 27.5 Miles (25 Miles for Alternate)</h2>

<img src="~/images/Routes/Pioneer Loop.JPG" />
@{
    Html.RenderPartial("BreakArea");
}
<strong>Bloomington Ferry could be flooded, check conditions before riding</strong>

<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Nice loop near Shakopee</li>
    <li>Mostly trail riding</li>
    <li>Ride by Valleyfair</li>
    <li>Both the river trail and Bloomington Ferry could be flooded, check conditions</li>
</ul>