
@{
    ViewData["Title"] = "PriorLakeLoop";
}

<h2>Prior Lake Loop - 25 Miles</h2>

<img src="~/images/Routes/Prior Lake Loop.JPG" />

<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Ride to Prior Lake</li>
    <li>Mostly trail, except for along Highway 13 which has a nice wide shoulder</li>
    <li>Can stop at the Prior Lake Library for a book break</li>
    <li>A couple nice hills</li>
</ul>