
@{
    ViewData["Title"] = "ShakopeeLoop";
}

<h2>Shakopee Loop - 9.5 Miles</h2>

<img src="~/images/Routes/Shakopee Loop.JPG" class="img-responsive" />
<partial name="BreakArea" />
<ul>
    <li>Start: Shakopee Parking Lot</li>
    <li>End: Shakopee Parking Lot</li>
</ul>

<h4>Features</h4>
<ul>
    <li>Steady incline along 1st Avenue</li>
    <li>Tunnel under Marshall Avenue</li>
    <li>Pass by several ponds</li>
    <li>4th Avenue Strava Segment</li>
    <li>Finish along the river</li>
</ul>