
@{
    ViewData["Title"] = "SouthbridgeLoop";
}

<h2>Southbridge Loop - 14.5 Miles</h2>

<img src="~/images/Routes/Southbridge Loop.JPG" />
@{
    Html.RenderPartial("BreakArea");
}
<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Ride through Dean Lakes</li>
    <li>Nice options to add mileage</li>
</ul>