
@{
    ViewData["Title"] = "Stillwater";
}

<h2>Stillwater - 55 Miles/110 Miles</h2>

<img src="~/images/Routes/Stillwater.JPG" class="img-responsive" />
<partial name="BreakArea" />
<ul>
    <li>Start: Shakopee Trailhead</li>
    <li>End: Stillwater/Shakopee Trailhead</li>
</ul>

<h4>Features</h4>

<ul>
    <li>Ride the Gateway Trail</li>
    <li>Almost entirely on trails</li>
    <li>Stop in Stillwater and see the river</li>
    <li>Ride through Minneapolis</li>
</ul>